/* You can add global variables to this file*/

/*colors*/
$light-grey: #878787;
$red: #FA0606;
$blue: #0049b1;
$white: #ffffff;
$black: #000;
$dark: #181818;
$gradient: linear-gradient(89.89deg, #1BB147 10.22%, #018ED5 104.68%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);